<div class="main" ng-controller="RepoCtrl" ng-init="loadRepoInfos()" ng-show="repo">

   <button class="btn btn-primary btn-back" ng-click="backToSearch()">Back to search</button>
   <button class="btn btn-primary btn-back" style="margin-top: 80px" ng-click="backToUser()">Back to user</button>

   <h1>Some states of {{repo.name}}</h1>

   <hr>

   <div class="row" style="margin: auto;">
    <div class="col-md-3 col-sm-3 col-md-offset-2">
      <div class="circle-tile ">
        <a href="#"><div class="circle-tile-heading dark-blue"><i class="fa fa-users fa-fw fa-3x"></i></div></a>
        <div class="circle-tile-content dark-blue">
          <div class="circle-tile-description text-faded">Contributor(s)</div>
          <div class="circle-tile-number text-faded ">{{ contributors.length }}</div>
          <a class="circle-tile-footer" data-toggle="collapse" ng-show="contributors" data-target="#contributors">Show <i class="fa fa-chevron-circle-right"></i></a>
          <div id="contributors" class="collapse">
             <div class="list-group">
              <li style="text-align: left;" class="user-list-item list-group-item" ng-repeat="contributor in contributors"><img width="20px" src="{{contributor.avatar_url}}" style="margin-right: 10px; float: left;">{{ contributor.login }}</li>
            </div>
         </div>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-3 col-md-offset-2">
      <div class="circle-tile ">
        <a href="#"><div class="circle-tile-heading dark-blue"><i class="fa fa-usb fa-fw fa-3x"></i></div></a>
        <div class="circle-tile-content dark-blue">
          <div class="circle-tile-description text-faded">Branch(es)</div>
          <div class="circle-tile-number text-faded ">{{ branches.length }}</div>
          <a class="circle-tile-footer" data-toggle="collapse" ng-show="branches" data-target="#branches">Show <i class="fa fa-chevron-circle-right"></i></a>
          <div id="branches" class="collapse">
             <div class="list-group">
                <li style="text-align: left;" class="user-list-item list-group-item" ng-repeat="branch in branches">{{ branch.name }}</li>
            </div>
         </div>
        </div>
      </div>
    </div>
  </div>

   <div class="row" style="margin-top: 20px;">
      <div class="col-md-4">
         <div class="panel panel-default">
            <div class="panel-heading">
               Language(s)
            </div>
            <div class="panel-body">
              <h2 style="text-align: center; vertical-align: middle;" ng-show="!languagesData.length">No language</h2>
               <canvas ng-show="languagesData.length" id="doughnut" class="chart chart-doughnut" chart-data="languagesData" chart-labels="languagesLabels" chart-legend="true"></canvas> 
            </div>
         </div>
      </div>
      <div class="col-md-4">
         <div class="panel panel-default">
            <div class="panel-heading">
               Commit(s) per contributor - {{ numberOfCommits }} in total
            </div>
            <div class="panel-body">
              <h2 style="text-align: center; vertical-align: middle;" ng-show="!contributorsCommitsData.length">No commit</h2>
               <canvas id="chart-pie" ng-show="contributorsCommitsData.length" class="chart chart-pie" chart-data="contributorsCommitsData" chart-labels="contributorsCommitsLabels" chart-legend="true"></canvas> 
            </div>
         </div>
      </div>
            <div class="col-md-4">
         <div class="panel panel-default">
            <div class="panel-heading">
               Number of commits per day (last year)
            </div>
            <div class="panel-body">
              <h2 style="text-align: center; vertical-align: middle;" ng-show="!commitsActivityData.length">No commit activity</h2>
               <canvas id="bar" ng-show="commitsActivityData.length" class="chart chart-bar" chart-data="[commitsActivityData]" chart-labels="commitsActivityLabels"></canvas> 
            </div>
         </div>
      </div>
   </div>
</div>